@import "tailwindcss";

body {
    font-family: 'Open Sans', sans-serif;
    font-weight: normal;
    font-style: normal;
  }

.open-sans-test {
    font-family: "Open Sans", serif;
    font-optical-sizing: auto;
    font-weight: 750;
    font-style: italic;
    font-variation-settings:
      "wdth" 100;
  }

@keyframes moveCloud {
  from {
    transform: translateX(100%);
  }
  to {
    transform: translateX(-100%);
  }
}



